body {
    background-color: #424549;
    color: white;
    font-family: Verdana, sans-serif;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam379.cur), auto !important; 

}

img {
    border-radius: 10%;
}

h1 {
    text-align: center;
}